h1 {
    color: #5252d4;
}

.body__skills{
    display: flex;
    flex-direction: column;
}

.skills {
    padding: 100px;
    padding-top: 50px;
    margin:auto;
    text-align: center;
}

.skills__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.skills__card__head {
    color: #5252d4;
    text-align: left;
    border-left: solid #9bc400 5px;
    border-right: solid #9bc400 5px;
    border-top: solid #9bc400 5px;
    padding: 10px;
    width: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.skills__card__images {
    padding-top: 15px;
    border-top:solid #9bc400 5px;
    width: fit-content;
}
.skills__card__images > img {
    width: 100px;
    height: 100px;
    margin-right: 50px;
}

