.footer-container {
    background-color: #7c677f;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

h3 {
    color: white;
    text-align: center;
}